.ticketImage{
  width: 200px;
  display: inline-block;
}

#ticketTime {

}

#ticketPrice {
  color: green;
}

body{
  background-image:url(../img/theatre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#popcorn{
  background: #ffe695;
  margin-top: 10px;
  color: black;
}
ul{
  display: inline-block;
}
li{
  list-style-type: none;
}
.totals{
  color: white;
}

label{
  color: white;
}
