.ticketImage{
  width: 200px;
  display: inline-block;
}

#ticketTime {

}

#ticketPrice {
  color: green;

}

#popcorn{
  background: #ffe695;
  margin-top: 10px;
  color: black;
}
ul{
  display: inline-block;
}
li{
  list-style-type: none;
}
